.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px; /* Increase width */
  padding: 20px; /* Increase padding */
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  font-size: 16px;
}

.calendar-header h2 {
  font-size: 24px; /* Increase font size for month and year */
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.calendar-day-header,
.calendar-day,
.calendar-day-disabled,
.calendar-day-selected {
  text-align: center;
  background-color: #fff;
  padding: 10px; /* Increase padding for day cells */
  cursor: pointer;
  font-size: 18px; /* Increase font size for day cells */
}

.calendar-day-disabled {
  background-color: #f8f8f8; /* Set a background color for disabled cells */
  color: #aaa; /* Set a color for disabled cells */
  cursor: not-allowed; /* Change cursor for disabled cells */
}

.calendar-day-selected {
  background-color: #007bff;
  color: #fff;
}
