:root {
  --red: #c82333;
}

html,
body {
  overflow: auto;
  min-height: 100%;
}

body,
#root {
  margin: 0;
  height: 100vh;
}

.menu {
  background-color: black;
  width: 100%;
}

.flex_wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.flex_login {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  flex-grow: 1;
}

a:link,
a:visited {
  color: var(--red) !important;
}

.chbx_base {
  accent-color: var(--red);
}

.small_icon {
  width: 3em;
  height: 3em;
}

.tiny_icon,
.tiny_button {
  width: 2em;
  height: 2em;
}

.transparent {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 7px;
  transition: 0.5s;
}

.transparent:focus {
  border: none;
  outline: none;
}

.transparent:hover {
  border: none;
  outline: none;
  background-color: gainsboro;
}

.hover_toggleable {
  display: block;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
}

.hover_toggleable:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

.ellipsis-button:hover + .hover_toggleable {
  display: block;
  opacity: 1;
  visibility: visible;
}

.header {
  flex-basis: 100%;
  margin: 0;
  width: 100%;
}

.flex_component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_card_list {
  width: 60%;
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
  overflow-y: auto;
  gap: 10px;
}

.flex_card {
  width: 100%;
  align-self: center;
}

.flex_card_row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.flex_card_row_reversed {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.item-selector {
  margin-bottom: 10px;
  padding: 5px;
}
